<!DOCTYPE html>
<html lang="en">
{#自动刷新页面#}
{#<meta http-equiv="refresh" content="0.5">#}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/public_header.css">
</head>
<body>
<div class="box">
    <div class="title">
        <div><p>火车票系统管理</p></div>
    </div>
    <div class="user">
        <p>用户：<a href="" id="username">管理员</a></p>
        <div style="display: none;cursor: pointer" id="exit"><a href="{% url 'App:main_logout' %}">退出</a></div>
    </div>

</div>

</body>
</html>